<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aop_project.mapper.GoodsMapper">

    <resultMap type="com.example.aop_project.entity.Goods" id="GoodsMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
        <result property="goodsWidth" column="goods_width" jdbcType="NUMERIC"/>
        <result property="goodsLength" column="goods_length" jdbcType="NUMERIC"/>
        <result property="total" column="total" jdbcType="NUMERIC"/>
        <result property="area" column="area" jdbcType="NUMERIC"/>
        <result property="goodsPrice" column="goods_price" jdbcType="NUMERIC"/>
        <result property="processingRequirements" column="processing_requirements" jdbcType="VARCHAR"/>
        <result property="processingExpenses" column="processing_expenses" jdbcType="NUMERIC"/>
        <result property="totalMoney" column="total_money" jdbcType="NUMERIC"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="productionProcess" column="production_process" jdbcType="VARCHAR"/>
        <result property="orderId" column="order_id" jdbcType="INTEGER"/>
    </resultMap>

</mapper>
